#shorts-panel {
    height: 100%;
    width:35%;
    flex-direction: column;
    
}

#trending{
    display:flex; 
    flex-direction:column;
    align-items:center;
    height:50%;
}

h1{
    margin-bottom: 10px;
    text-align: center;
}

#slots{

    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    justify-items: stretch;
    width: 100%;
    height:auto;
    min-height: 50%;
    
}
#indiv-slot{
    flex:1;
    border: 2px solid #000;
    text-align:center;
    margin:5px;
    border-radius: 5%;
}

#random {
    height:50%;
}

