@font-face {
    font-family: 'TikTokDisplay';
    src: url('./assets/fonts/TikTokDisplay-Regular.ttf') format('truetype'), url('./assets/fonts/TikTokDisplay-Bold.ttf') format('truetype');
}

* {
    font-family: 'TikTokDisplay', sans-serif;
    overscroll-behavior: none;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}